<div>
  <h2>Messungen</h2>
  <form (ngSubmit)="addNewDevice()">
    <input [(ngModel)]="name" name="name" required placeholder="Name" />
    <input
      [(ngModel)]="description"
      name="description"
      required
      placeholder="Beschreibung"
    />
    <input
      [(ngModel)]="current"
      name="current"
      required
      placeholder="Nennstrom"
    />
    <button type="submit">Hinzufügen</button>
  </form>

  <ul>
    <li *ngFor="let device of devices$ | async">
      <div>
        {{ device.name }}
        {{ device.description }}
        {{ device.type }}
        {{ device.current }}
      </div>
    </li>
  </ul>
</div>

<button (click)="generatePDF()">PDF erstellen</button>
