extends layouts/main

block content
  .jumbotron
    h1.display-4 Willkommen!
    p.lead Dies ist die Startseite Ihrer neuen Anwendung zur Verwaltung von Prüfungen.
    hr.my-4
    p Melden Sie sich an, um zu beginnen.
    a.btn.btn-primary.btn-lg(href="/auth/login", role="button") Zum Login
